body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 29, 29);
}
.container {
  width: 360px;
  padding: 33px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #6d8005;
  border-radius: 5px;
}
input {
  width: 270px;
  padding: 8px;
  border: 2px solid rgb(6, 145, 145);
  outline: none;
  font-size: 20px;
}
button {
  width: 60px;
  height: 41px;
  background-color: rgb(4, 29, 29);
  color: #fff;
  border-radius: 2px;
  font-size: 20px;
}
#text ul {
  position: relative;
  background-color: #fff;
  background-color: rgb(4, 29, 29);
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding: 7px;
}
