* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #14121c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header ul {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin: 10px 10px;
  font-size: 12px;
}
header nav {
  display: none;
}
main {
  display: flex;
  margin: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main nav {
  display: flex;
}
span {
  color: #b4da7d;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  font-size: 10px;
}
section p {
  margin: 5px 5px;
}
section h2 {
  text-decoration: underline;
}
section nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer h3 {
  text-decoration: underline;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and(max-width: 425px) {
  body {
    display: flex;
    flex-direction: column;
  }
  section nav div {
    display: flex;
    flex-direction: column;
  }
  header ul {
    display: none;
  }
}
